// breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

// colors

$primary-background: #371724;
$secondary-background: #4c1d27;
$tertiary-background: #2b0f1a;

$primary-color: #e6e6e6;

$color1: #662331;
$color2: #e6e6e6;
$color3: #4c1d27;
$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);
