.history {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: $secondary-background;
  height: 100%;
  padding-top: 30px;
  .history-title {
    z-index: 5;
  }
  .history-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    .arnold-bocklin-card,
    .art-nouveau-card,
    .sansandserif-card,
    .chat-noir-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      perspective: 600px;
      z-index: 5;
      .card-toggle {
        transform: rotateY(0deg);
        transition: transform 0.5s;
      }
      .card-content.flipped {
        transform: rotateY(180deg);
      }
      .front-and-back {
        transition: transform 1s;
        transform-style: preserve-3d;
        perspective: 300px;
        &:hover {
          transform: rotateY(180deg);
          transition: transform 0.5s;
        }

        .card-front,
        .card-back {
          backface-visibility: hidden;
        }
        .card-front {
          display: flex;
          flex-direction: row;
          justify-content: center;
          img {
            width: 400px;
          }
        }
        .card-back {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          padding: 10px 0;
          position: absolute;
          top: 0;
          right: 0;
          transform: rotateY(180deg);
          background: $primary-background;
          width: 100%;
          height: 100%;

          h3 {
            text-align: left;
            width: 85%;
            padding: 10px 10px 0 10px;
          }
          p {
            padding: 0 10px 10px 10px;
          }
          .fonts {
            width: 90%;
            h4 {
              margin: 20px 0 0 0;
            }
            p {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .caption {
          writing-mode: vertical-lr;
          align-self: center;
          margin-left: 10px;
        }
      }
      .arnold-bocklin-card,
      .sansandserif-card,
      .chat-noir-card {
        align-self: flex-start;
      }
      .art-nouveau-card {
        align-self: flex-end;
        margin-right: 300px;
        margin-top: -100px;
        .caption {
          margin: 0 10px 0 0;
        }
      }
      .arnold-bocklin-card {
        margin-left: 300px;
        .card-back {
          .information-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 90%;
            p {
              margin-top: 20px;
            }
          }
          .image-container {
            display: flex;
            justify-content: center;
            img {
              width: 80%;
            }
          }
        }
      }
      .chat-noir-card {
        margin-left: 300px;
        margin-top: -100px;
      }
    }
    .big-flower {
      position: fixed;
      height: 90%;
      z-index: 1;
      bottom: 0;
      width: fit-content;
    }
    .left {
      left: 20px;
    }

    .right {
      right: 20px;
    }
  }
}

@media (max-width: 576px) {
  .history {
    .history-container {
      .arnold-bocklin-card,
      .art-nouveau-card,
      .chat-noir-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .front-and-back {
          align-self: center;
          .card-front {
            img {
              width: 300px;
            }
          }
          .card-back {
            padding: 0;
            width: 300px;
            gap: 0;
            .information-container {
              gap: 0;
              h3 {
                padding: 10px 10px 0 15px;
              }
              p {
                margin-top: 10px;
                padding: 0 15px;
              }
            }

            .fonts {
              h4 {
                margin: 0;
              }
            }
          }
        }
        .caption {
          margin: 10px;
          text-align: center;
        }
      }
    }
  }
  .big-flower {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .history {
    .history-container {
      .arnold-bocklin-card,
      .art-nouveau-card,
      .chat-noir-card {
        .front-and-back {
          .card-back {
            .information-container {
              p {
                margin-top: 10px;
              }
            }
            .fonts {
              h4 {
                margin: 10px 0 0 0;
              }
            }
          }
        }
        .caption {
          writing-mode: vertical-lr;
          align-self: center;
        }
      }
      .arnold-bocklin-card,
      .chat-noir-card {
        .caption {
          margin-left: 10px;
        }
      }
      .art-nouveau-card {
        .caption {
          margin-right: 10px;
        }
      }
    }
    .big-flower {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .history {
    .history-container {
      .arnold-bocklin-card,
      .art-nouveau-card,
      .chat-noir-card {
        .caption {
          writing-mode: vertical-lr;
          align-self: center;
        }
        .front-and-back {
          .card-back {
            .information-container {
              p {
                margin-top: 10px;
              }
            }
            .fonts {
              h4 {
                margin: 10px 0 0 0;
              }
            }
          }
        }
      }
      .arnold-bocklin-card,
      .chat-noir-card {
        .caption {
          margin-left: 10px;
        }
      }
      .art-nouveau-card {
        .caption {
          margin-right: 10px;
        }
      }
    }
    .big-flower {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  .history {
    .history-container {
      .arnold-bocklin-card,
      .art-nouveau-card,
      .chat-noir-card {
        .caption {
          writing-mode: vertical-lr;
          align-self: center;
        }
        .front-and-back {
          .card-back {
            .information-container {
              p {
                margin-top: 10px;
              }
            }
            .fonts {
              h4 {
                margin: 10px 0 0 0;
              }
            }
          }
        }
      }
      .arnold-bocklin-card,
      .chat-noir-card {
        .caption {
          margin-left: 10px;
        }
      }
      .art-nouveau-card {
        .caption {
          margin-right: 10px;
        }
      }

      .arnold-bocklin-card {
        margin-right: 200px;
      }

      .art-nouveau-card {
        margin-left: 200px;
      }

      .chat-noir-card {
        margin-right: 200px;
      }
    }
    .big-flower {
      position: fixed;
      height: 90%;
      z-index: 1;
      bottom: 0;
      width: fit-content;
    }
    .left {
      left: 20px;
    }

    .right {
      right: 20px;
    }
  }
}

@media (min-width: 1400px) {
  .history {
    .history-container {
      .arnold-bocklin-card,
      .art-nouveau-card,
      .chat-noir-card {
        .caption {
          writing-mode: vertical-lr;
          align-self: center;
        }
        .front-and-back {
          .card-back {
            .information-container {
              p {
                margin-top: 10px;
              }
            }
            .fonts {
              h4 {
                margin: 10px 0 0 0;
              }
            }
          }
        }
      }
      .arnold-bocklin-card,
      .chat-noir-card {
        .caption {
          margin-left: 10px;
        }
      }
      .art-nouveau-card {
        .caption {
          margin-right: 10px;
        }
      }

      .arnold-bocklin-card {
        margin-right: 500px;
      }

      .art-nouveau-card {
        margin-left: 500px;
        margin-top: -100px;
      }

      .chat-noir-card {
        margin-right: 500px;
        margin-top: -100px;
      }
    }
    .big-flower {
      position: fixed;
      height: 90%;
      z-index: 1;
      bottom: 0;
      width: fit-content;
    }
    .left {
      left: 20px;
    }

    .right {
      right: 20px;
    }
  }
}
